<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Flood CNX</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='img/floodcnx2.png') }}"
      rel="icon"
    />
   <!-- Bootstrap CSS File--> 
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files-->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
      <div id="topbar">
        <div class="container">
          
        </div>
      </div>


        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
             <li><a href="chennai.html">3R</a></li>
            <li><a href="predicts.html">Bhavishyavani</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc5QFx5PVUqWHNmsy7xpvZwUm9MIfYjHyhiiRRYFXTxht5t_Q/viewform?vc=0&c=0&w=1&flr=0&gxid=-8203366">complain</a></li>
          </ul>
        </nav>
        <!-- .main-nav-->
      </div>
    </header>
    <!--- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <a href="#header" class="scrollto">
              <img style="margin-top: 0px; max-height:200px;  margin-left:0px ;" ;
              
              src="{{ url_for('static', filename='img/floodcnx2.png') }}"
              alt=""
              class="img-fluid"/>
            </a>
            <h3 style="margin-left:0px ; padding-top:5px;padding-left:100px; line-height: 40px;">Helping prepare people and their governments, one flood prediction at a time</h3>
            <br />
            <button style=" margin-left:20px; font-size:30px; background-color:red; color:white; border-radius:30px; padding-left:200px; padding-right:200px; padding-top:20px; padding-bottom:20px;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeAAO0b9LbQnscx1JLbcFzXsaRWZlcJNyTlz4W5RSwV1Ykh4Q/viewform?usp=sf_link">Help!</a></button>
             </div>
        </div>
        </div>
      </div>
    </section>
    <!-- #intro -->

    <!--<main id="main">
      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Services</h3>
            <p>
              Our website offers many services to help people plan and prepare for floods,
              and help the government reallocate resources to those most in need.
            </p>
          </header>

         <div class="row">
     
            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #eafde7;">
                  <i
                    class="ion-ios-speedometer-outline"
                    style="color: #41cf2e;"
                  ></i>
                </div>
                <h4 class="title"><a href="chennai.html">3R</a></h4>
                <p class="description">
                   3R-Rescue , Relief & Restore.This shows inundated roads in Chennai. Report a flooded street by zooming into the map and clicking it.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #e6fdfc;">
                  <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
                </div>
                <h4 class="title"><a href="predicts.html">Bhavishyavani</a></h4>
                <p class="description">
                  Lastly, our website allows you to predict floods in realtime through our machine learning algorithm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #services -->

     
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
